# Ignore local editor data
.idea
.vs
.vscode
EBULA/bin
EBULA/obj
KINESIS/bin
KINESIS/obj
PUZZLEBOX/bin
PUZZLEBOX/obj
SKELETON-KING/bin
SKELETON-KING/obj
SKELETON-KING/SKELETON-KING.csproj.user
TRANSMUTANSTEIN/bin
TRANSMUTANSTEIN/obj
ZORGATH/bin
ZORGATH/obj
MockServerStatusChecker/bin
MockServerStatusChecker/obj

# OS specific files
.DS_Store
Thumbs.db
